<html>
<head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <form method="POST" >
        <div class="card shadow " style="margin-top: 7%; margin: 7% 20%;">
            <h5 class="card-header">
                Update Category
            </h5>
            <div class="card-body">
                <div class="form-group">
                    <label for="CatId">Category ID:</label>
                    <input type="text" class="form-control" id="CatId" name="CatId" value="<%= category[0].CatId %>" readonly>
                </div>
                <div class="form-group">
                    <label for="CatName">Category Name:</label>
                    <input type="text" class="form-control" id="CatName" autofocus name="CatName" value="<%= category[0].CatName %>" require>
                </div>
                <a href="/category" class="btn btn-primary">
                    <i class="fas fa-backward"></i>
                    List
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check-square"></i>
                    Update
                </button>
            </div>
        </div>
    </form>
</body>
</html>